<p>
  <b>Firstname:</b>
  <%=h @customer.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @customer.lastname %>
</p>

<p>
  <b>Birthmonth:</b>
  <%=h @customer.birthmonth %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @customer.birthday %>
</p>

<p>
  <b>Email:</b>
  <%=h @customer.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @customer.phone %>
</p>

<p>
  <b>Subscriptionkey:</b>
  <%=h @customer.subscriptionkey %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>